.header-flex {
    display: flex;
    flex-direction: row;
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid #ededed;
    padding: 60px 80px;
    background-color: #fff;
    
    @media (max-width: $mobile) {
        flex-direction: column;
        align-items: center;
    }
}

.header-flex-text {
    margin-top: 25px;
    width: 100%;
    
    @media (max-width: $mobile) {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.header__img {
    padding: 10px;
    width: 150px;
    height: 150px;
    margin-right: 40px;
    
    @media (max-width: $mobile) {
        margin-right: 0;
        padding: 35px;
        width: 155px;
        height: 155px;
    }
}



.name {
    margin-bottom: 10px;
}

.title {
    margin-bottom: 10px;
    
    @media (max-width: $mobile) {
        font-size: 16px;
        margin-bottom: 30px;
    }
}