* {
    box-sizing: border box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body {
    padding: 60px 80px;
    background-color: #fff;
    
    @media (max-width: $mobile) {
        padding: 10px 20px;
    }
}

a, a:visited {
    text-decoration: none;
    color: $text;
    font-family: 'Open Sans';
}

p {
    color: $text;
    font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
    color: $text;
    font-family: 'Open Sans';
}

h1, h2 {
    font-weight: 600;
}