@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import 'variables';
@import 'base';
@import 'header';
@import 'social';
@import 'code';
@import 'codemirror';
@import 'codemirror-mdn-like';
@import '../components/code/code';

.header-flex {
    display: flex;
    flex-direction: row;
    
    
    @media (max-width: $mobile) {
        flex-direction: column;
    }
}



