@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);
@import 'variables';
@import 'base';
@import 'header';
@import 'social';

.header-flex {
    display: flex;
    flex-direction: row;
    
    
    @media (max-width: $mobile) {
        flex-direction: column;
    }
}



