<!--=include ../partials/head.html -->



    <div class="flex-container-outer">
        
        <header>
            <img class="header__img" src="assets/img/me.png">
            <div class="header__text">
                <h2 class="name">Matt McDaniel</h2>
                <h3 class="title">JavaScript Developer</h3>
                <div class="button-container">
                    
                    
                    <a class="card linkedin" href="https://www.linkedin.com/in/matthmcdaniel">
                        <img class="card__icon" src="assets/img/linkedin-icon.svg">
                        <h4 class="card__text">LinkedIn</h4>
                    </a>
                
                    <a class="card github" href="https://github.com/matt-mcdaniel">
                        <img class="card__icon" src="assets/img/github-icon.svg">
                        <h4 class="card__text">Github</h4>
                    </a>
                    
                    <a class="card codepen" href="http://codepen.io/himmel/">
                        <img class="card__icon" src="assets/img/codepen-icon.svg">
                        <h4 class="card__text">Codepen</h4>
                    </a>
                    
                </div>
            </div>

        </header>
        

    </div>
  
<!--=include ../partials/foot.html -->