<!--=include ../partials/head.html -->

    <header>
        <h2>Matt McDaniel</h2>
        <h3>Interactive Front-end Developer</h3>
    </header>   

    <div class="flex-container-outer">
        <div class="flex-container-inner">
            
            <a class="card github" href="https://github.com/matt-mcdaniel">
                Github
            </a>
            
            <a class="card linkedin" href="https://www.linkedin.com/in/matthmcdaniel">
                LinkedIn
            </a>
            
            <a class="card codepen" href="http://codepen.io/himmel/">
                Codepen
            </a>
            
        </div>
    </div>
  
<!--=include ../partials/foot.html -->