@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);
* {
  box-sizing: border box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: 300; }

body {
  margin: 20px auto;
  background-color: #fff; }

a, a:visited {
  text-decoration: none;
  color: #2e3233; }

h1, h2 {
  font-weight: 600; }

header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px; }
  @media (max-width: 500px) {
    header {
      display: block;
      text-align: center;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.header__img {
  padding: 35px;
  width: 155px;
  height: 155px; }

.header__text {
  border-top: 1px solid #E2E3DF;
  border-bottom: 1px solid #E2E3DF;
  height: 160px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 500px) {
    .header__text {
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding-top: 35px; } }

.name {
  margin-top: -6px; }
  @media (max-width: 500px) {
    .name {
      margin-bottom: 10px; } }

.title {
  margin-bottom: 20px; }
  @media (max-width: 500px) {
    .title {
      margin-bottom: 35px;
      font-size: 13px; } }

.card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-right: 20px;
  text-align: center;
  color: white !important;
  margin: 1px;
  height: 30px;
  background-image: url("img/dark_matter.png");
  background-attachment: fixed; }
  @media (max-width: 500px) {
    .card {
      height: 50px;
      margin-bottom: 2px; } }

.card__icon {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 40px;
  max-height: 60px; }

.card__text {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: bold;
  font-size: 13px; }

.flex-container-outer {
  height: 75vh;
  width: 100vw;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.button-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media (max-width: 500px) {
    .button-container {
      display: block;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
