<div class="social-container">
    
    <a class="social linkedin" href="https://www.linkedin.com/in/matthmcdaniel">
        <img class="social__icon" src="assets/img/linkedin-icon.svg">
        <p class="social__text">LinkedIn</p>
    </a>

    <a class="social github" href="https://github.com/matt-mcdaniel">
        <img class="social__icon" src="assets/img/github-icon.svg">
        <p class="social__text">Github</p>
    </a>

    <a class="social codepen" href="http://codepen.io/himmel/">
        <img class="social__icon" src="assets/img/codepen-icon.svg">
        <p class="social__text">Codepen</p>
    </a>

</div>