.card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 20px;
    text-align: center;
    color: white !important;
    margin: 1px;
    height: 30px;
    background-image: url('img/retina_wood.png');
    background-attachment: fixed;
    
    @media (max-width: $mobile) {
        height: 40px;
        margin-bottom: 2px;
    }
    
}

.linkedin {

}


.github {

}


.codepen {

}

.card__icon {
    flex: 1;
    width: 40px;
    max-height: 60px;
}

.card__text {
    flex: 1;
    font-weight: bold;
    font-size: 13px;
}