@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);
@import 'variables';
@import 'base';
@import 'header';
@import 'card';

.flex-container-outer {
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
    
    @media (max-width: $mobile) {
        display: block;
        flex-direction: column;
        justify-content: center;
    }
}



