// https://color.adobe.com/Laboratory-color-theme-7704075/edit/?copy=true

$offwhite: #FFFEFC;
$lightgray: #E2E3DF;
$darkgray: #515b5e;
$black: #2e3233;
$neon: #caf200;

$text: $black;

$mobile: 500px;