@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic);

$orange: #ffb453;

.code-mirror.full {
    .cm-s-mdn-like.CodeMirror {
        height: 75vh;
    }
    .cm-s-mdn-like.CodeMirror {
        position: relative; 
        background-image: url(../../img/ps_neutral.png);
    }
}

.code-chooser {
    margin-bottom: -1px;
    font-family: 'Lato';
    width: 100%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
}

.code-chooser__option {
    text-align: center;
    list-style: none;
}

//border-right only on last button item
.code-chooser__option:last-of-type {
    .code-chooser__button {
        border-right: 1px solid #e8e8e8;
    }
}

.code-chooser__button {
    position: relative;
    padding: 10px;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    width: 90px;
    color: rgba(150,150,150,0.4);
    cursor: pointer;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
    background-color: #f0f0f0;
    
    &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 85%, rgba(255, 255, 255, 0) 100%);
        opacity: 1;
    }
    
    &.active > .code-chooser__text {
        color: $orange;
    }
    
    &:active {
        box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
        .code-chooser__text {
            color: darken($orange, 10%);
        }
        
        &:before {
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0.5) 40%);
            opacity: 0.55;
        }
    }
}

.code-chooser__text {
    position: relative;
    text-shadow: inset 1px 2px 2px #000, 0 0 0 #fff, 1px 2px 2px #000;
    font-size: 14px;
    font-weight: bold;
}


