.feature {
    display: block;
    padding: 20px 20px 0 40px;
    border-left: 4px solid #cecece;
    margin-bottom: 20px;
}

.feature__title {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 22px;
    
}

.feature__description {
    font-size: 16px;
    line-height: 1.55;
    margin-bottom: 5px;
}

.feature:hover {
    transition: border-left 0.08s ease-in;
    border-left: 4px solid $blue;
    
    .feature__title {
        transition: color 0.08s ease-in;
        color: darken($blue, 10%);
    }
}

.feature__tag {
    font-size: 12px;
    //background-color: $primary;
    color: #a0a0a0;
    display: inline-block;
    padding: 7px 0;
    font-weight: 300;
}

